# Bootcamp 1.Gün. 
## Pandas alıştırmaları.

In [ ]:
#Gerekli kütüphaneleri içeri aktarın (pandas,numpy)

In [ ]:
#Pandas kullanarak bir DataFrame oluşturun

In [ ]:
#Titanic veri kümesini pandas kullanrak içeri aktarın ve bir değişkene tanımlayın

In [ ]:
#Veri içerisindeki Age kolonunu bir değişkene tanımlayarak veriden çekin

In [ ]:
#Veri içerisindeki SibSp ve Parch kolonlarını tek bir kolon altında birleştirin

In [ ]:
#Verinin 203-456 arası satırlarını ve  Survived,Pclass,Fare kolonlarını .loc yöntemi ile pt1 değişkenine tanımlayın

In [ ]:
#Verinin 203-456 arası satırlarını ve  Survived,Pclass,Name kolonlarını .iloc yöntemi ile pt2 değişkenine tanımlayın

In [ ]:
#Verinin kolonlarını yazdırın

In [ ]:
#Verinin Boyut bilgisini ve içerdiği hücre sayısını yazdırın

In [ ]:
#Veri hakkındaki bilgiyi gösterin

In [ ]:
#Veri içerisindeki değişken tiplerini yazdırın

In [ ]:
#Verinin baştan 7 ve sondan 7 satırını yazdırın

In [ ]:
#veri içerisinden karışık 5 örnek yazdırın

In [ ]:
#Veri içerisindeki Embarked kolonuna ait farklı değişkenleri yazdırın

In [ ]:
#Embarked kolonunda hangi değerden kaç adet olduğunu yazdırın

In [ ]:
#Veri hakkındaki istatiksel bilgileri yazdırın

In [ ]:
#Veriye ait korelasyon matrisini yazdırın ve survived kolonuna it korelasyon bilgilerini istediğiniz bir fonksiyonlar corelation değişkenine aktarın

In [ ]:
#Verinin içerisindeki eksik verilerin sayılarını (Hangi kolonda kaç adet null var) yazdırın

In [ ]:
#Veri içerisindeki Name , Ticket gibi kolonlar çok fazla sayıda farklı veri içeridği için algoritmayı bozar. Bu kolonları veriden çıkarın
#ipucu : drop

In [ ]:
#Veri içerisinde içinde en az 3 adet düzgün veri bulunmayan tüm verileri veriden çıkarın

In [ ]:
#verileri age değişkenine göre gruplayarak oluşturduğunuz veriyi grup değişkenine atayın ve yazdırın

In [ ]:
#verilen değerin karesinin 4 fazlasını çıktı olarak veren bir fonksiyon tanımlayın ve veri içerisindeki her yaş değeri için bu fonskiyonu uygulayın
#ipucu : apply

In [ ]:
#verileri yaş değerine göre küçükten büyüğe dopru sıralayın.